<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.module.bo.cm.cmc.repository.CmmnCdMapper">

    <!-- 그룹 코드 목록 조회   -->
    <select id="selGrpCdList" resultType="com.project.module.bo.cm.cmc.domain.vo.GrpCdVO" parameterType="com.project.module.bo.cm.cmc.domain.so.GrpCdSO">
        select
        grp_cd  /* 그룹코드 */
        , job_lcl_cd /* 업무대분류코드 */
        , grp_cd_nm /* 그룹코드명 */
        , grp_cd_dc /* 그룹코드설명 */
        , use_yn /* 사용여부 */
        , fst_user_fd /* 첫번째사용자필드 */
        , scd_user_fd /* 두번째사용자필드 */
        , thd_user_fd /* 세번째사용자필드 */
        , four_user_fd /* 네번째사용자필드 */
        , ffth_user_fd /* 다섯번째사용자필드 */
        , six_user_fd /* 여섯번째사용자필드 */
--         , (row_number() over()) as rn /* 로우넘 -순번*/
        from tb_cmmn_cd /* 그룹코드 */
        where 1=1
        <if test="grpCd!=null and !grpCd.equals('')">
            and grp_cd like '%' || #{grpCd} || '%'
        </if>
        <if test="jobLclCd!=null and !jobLclCd.equals('')">
            and job_lcl_cd = #{jobLclCd}
        </if>
        <if test="grpCdNm!=null and !grpCdNm.equals('')">
            and grp_cd_nm like '%' || #{grpCdNm} || '%'
        </if>
        and use_yn = 'Y'
        order by grp_cd asc
    </select>

    <!--  그룹코드 존재 여부/useYn 확인  -->
    <select id="checkGrpCodeAndUseYn" resultType="com.project.module.bo.cm.cmc.domain.vo.GrpCdVO">
        SELECT COUNT(*) AS totalCnt, MAX(use_yn) AS useYn
        FROM tb_cmmn_cd
        WHERE grp_cd = #{grpCd}
    </select>

    <!-- 공통 코드 목록 조회   -->
    <select id="selCmmnCdList" resultType="com.project.module.bo.cm.cmc.domain.vo.CmmnCdVO" parameterType="com.project.module.bo.cm.cmc.domain.so.CmmnCdSO">
        		select grp_cd /* 그룹코드 */
        			 , cmmn_cd /* 공통코드 */
        			 , cmmn_cd_nm /* 공통코드명 */
        			 , cmmn_cd_dc /* 공통코드설명*/
        			 , low_cmmn_cd /* 하위공통코드 */
        			 , sort_ordr /* 정렬순서 */
        			 , use_yn /* 사용여부 */
        			 , fst_user_fd /* 첫번째사용자필드 */
        			 , scd_user_fd /* 두번째사용자필드 */
        			 , thd_user_fd /* 세번째사용자필드 */
        			 , four_user_fd /* 네번째사용자필드 */
        			 , ffth_user_fd /* 다섯번째사용자필드 */
        			 , six_user_fd_dtm /* 여섯번째사용자필드 */
        			 , fr_rger_id /* 최초등록자아이디 */
        			 , fr_rg_dtm /* 최초등록일시 */
        			 , ls_updr_id /* 최종수정자아이디 */
        			 , ls_updt_dtm /* 최종수정일시 */
        		 from tb_cmmn_cd_detail /* 공통코드 */
        		where 1=1
        		  and grp_cd = #{grpCd}
        		order by sort_ordr asc
    </select>

    <!-- 공통 코드 상세 목록조회   -->
    <select id="selCmmnCdDetailList" parameterType="com.project.module.bo.cm.cmc.domain.so.CmmnCdSO" resultType="com.project.module.bo.cm.cmc.domain.vo.CmmnCdVO" >
        select grp_cd /* 그룹코드 */
        , cmmn_cd /* 공통코드 */
        , cmmn_cd_nm /* 공통코드명 */
        , low_cmmn_cd /* 하위공통코드그룹코드 */
        from tb_cmmn_cd_detail /* 공통코드 */
        where 1=1
        <choose>
            <when test="grpCdList != null and grpCdList.size > 0">
                and grp_cd in
                <foreach collection="grpCdList" item="item" separator=","
                         open="(" close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by sort_ordr asc
    </select>

    <!-- 그룹코드 등록   -->
    <insert id="insGrpCd" parameterType="com.project.module.bo.cm.cmc.domain.po.GrpCdPO">
        insert into tb_cmmn_cd
        ( grp_cd /* 그룹코드 */
        , cmmn_cd /* 공통코드 */
        , cmmn_cd_nm /* 공통코드명 */
        , cmmn_cd_dc /* 공통코드설명*/
        , low_cmmn_cd /* 하위공통코드 */
        , sort_ordr /* 정렬순서 */
        , use_yn /* 사용여부 */
        , fst_user_fd /* 첫번째사용자필드 */
        , scd_user_fd /* 두번째사용자필드 */
        , thd_user_fd /* 세번째사용자필드 */
        , four_user_fd /* 네번째사용자필드 */
        , ffth_user_fd /* 다섯번째사용자필드 */
        , six_user_fd_dtm /* 여섯번째사용자필드 */
        , fr_rger_id /* 최초등록자아이디 */
        , fr_rg_dtm /* 최초등록일시 */
        , ls_updr_id /* 최종수정자아이디 */
        , ls_updt_dtm /* 최종수정일시 */
        )
        values
            ( #{grpCd}
            , #{cmmnCd} /* 공통코드 */
            , #{cmmnCdNm} /* 공통코드명 */
            , #{cmmn_cd_dc} /* 그룹코드명 */
            , #{low_cmmn_cd} /* 그룹코드명 */
            , #{sort_ordr} /* 그룹코드명 */
            , #{use_yn} /* 그룹코드명 */

            , #{grpCdDc} /* 그룹코드설명 */
            , 'Y' /* 사용여부 */
            , #{fstUserFd} /* 첫번째사용자필드 */
            , #{scdUserFd} /* 두번째사용자필드 */
            , #{thdUserFd} /* 세번째사용자필드 */
            , #{fourUserFd} /* 네번째사용자필드 */
            , #{ffthUserFd} /* 다섯번째사용자필드 */
            , #{sixUserFd} /* 여섯번째사용자필드 */
            , #{frRgerId} /* 최초등록자아이디 */
            , now() /* 최초등록일시 */
            , #{lsUpdrId} /* 최종수정자아이디 */
            , now() /* 최종수정일시 */
            )
    </insert>

    <!-- 공통코드 등록   -->
    <insert id="insCmmnCd">
        <!-- 정렬순서(sort_ordr) 값 설정 -->
        <selectKey keyProperty="sortOrdr" resultType="int" order="BEFORE">
            SELECT COALESCE(MAX(sort_ordr) + 1, 1)
            FROM tb_cmmn_cd
            WHERE grp_cd = #{grpCd}
        </selectKey>

        <!-- 공통코드 INSERT -->
        insert into tb_cmmn_cd_detail (
            grp_cd
            , cmmn_cd
            , cmmn_cd_nm
            , cmmn_cd_dc
            , low_cmmn_cd
            , sort_ordr
            , use_yn
            , fst_user_fd
            , scd_user_fd
            , thd_user_fd
            , four_user_fd
            , ffth_user_fd
            , six_user_fd
            , fr_rger_id
            , fr_rg_dtm
            , ls_updr_id
            , ls_updt_dtm
        ) VALUES (
            #{grpCd}
            , #{cmmnCd}
            , #{cmmnCdNm}
            , #{cmmnCdDc}
            , #{lowCmmnCd}
            , #{sortOrdr}
            , "Y"
            , #{fstUserFd}
            , #{scdUserFd}
            , #{thdUserFd}
            , #{fourUserFd}
            , #{ffthUserFd}
            , #{sixUserFd}
            , #{frRgerId}
            , NOW()
            , #{lsUpdrId}
            , NOW()
        )
    </insert>


</mapper>


